{% extends 'FinalWhistle/base.html' %}



{%load static%}
{% block content %}


<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
        <div class="container"><img class="img-fluid" data-bss-hover-animate="bounce" src="{% static 'FinalWhistle/assets/img/logocolours.png'%}" width="146" height="77" style="margin-bottom: 14px;width: 150px;"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'FinalWhistle:index' %}">Tournois</a></li>
                </ul>
                {% if user.is_authenticated %}
                    <p class="navbar-text" style="margin-right: 17px;margin-top: 19px;">Bonjour, {{ user.username }}</p>
                    <a class="btn btn-outline-primary shadow" role="button" href="{% url 'logout' %}?next={% url 'FinalWhistle:index' %}">Déconnexion</a>
                {% else %}
                    <a class="btn btn-primary shadow" role="button" href="{% url 'login' %}?next={% url 'FinalWhistle:index' %}">Connexion</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <section class="py-5 mt-5">
        <div class="container">
            <div class="row row-cols-1 d-flex justify-content-center align-items-center" style="padding: 0;padding-bottom: 0;">
                <div class="col-md-10 text-center"><img class="img-fluid" data-aos="zoom-in" data-aos-duration="600" data-aos-delay="100" data-aos-once="true" src="" style="padding: 12px;padding-bottom: 46px;padding-top: 21px;"></div>
                <div class="col text-center">
                    <h2 class="display-3 fw-bold mb-4">Je demande la VAR</h2>
                    <p class="fs-4 text-muted">Pourquoi l'équipe de football avait-elle toujours une page d'erreur 404 sur son site web ?<br><br>Parce que le dev avait été transféré dans une autre équipe et personne ne pouvait le retrouver pour corriger le bug !</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}