{% extends 'FinalWhistle/base.html' %}



{%load static%}



{% block nav_items %}
<li class="nav-item"><a class="nav-link" href="{% url 'FinalWhistle:index' %}">Tournoi</a></li>
<li class="nav-item"><a class="nav-link active" href="">Modification</a></li>
{% endblock %}


{% block content %}

    <section style="margin-top: 150px;margin-bottom: 48px;">
        <div class="container" style="text-align: center;">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    
                    <h2 class="display-6 fw-bold mb-5" style="text-align: center;margin-top: 40px"><span class="shake animated underline pb-1" style="text-align: center;">Vous pouvez modifier votre commentaire</span></h2>
                    <div class="col-12 col-lg-10 mx-auto">
                        <div class="text-center position-relative" style="margin-bottom: 50px;"><img class="img-fluid" src="{% static 'FinalWhistle/assets/img/illustrations/upscaledit.png'%}" style="width: 800px;margin-top: 0px;padding-top: 0px;"></div>
                    </div>
                    <textarea name="body" style="width: 700px;height: 86.5938px;margin-right: 27px;margin-bottom: 31px;">{{ comment.body }}</textarea>
                    <button style="margin-top: -140px;" class="btn btn-primary" type="submit">Enregistrer</button>
                </div>
            </form>
        </div>
    </section>

{% endblock %}