{% load static %}

  <!-- Add a canvas element for the bar chart -->
  <canvas id="goal-chart"></canvas>
  
  <!-- Include Chart.js library -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
  
  <script>
    // Get data for the bar chart
    const labels = {{ team_names|safe }};
    const data = {
      labels: labels,
      datasets: [{
        label: 'Goals Scored',
        data: {{ goals_scored|safe }},
        backgroundColor: 'rgba(36, 40, 91, 0.5)',
        borderColor: '#24285B',
        borderWidth: 1
      }, {
        label: 'Goals Conceded',
        data: {{ goals_conceded|safe }},
        backgroundColor: 'rgba(255, 210, 0, 0.5)',
        borderColor: 'rgba(255, 210, 0, 1)',
        borderWidth: 1
      }]
    };
  
    // Set options for the bar chart
    const config = {
      type: 'horizontalBar',
      data: data,
      options: {
        responsive: true,
        scales: {
          xAxes: [{
            ticks: {
              beginAtZero: true,
              stepSize: 1,
            }
          }]
        }
      }
    };
  
    // Create a new bar chart
    const goalChart = new Chart(
      document.getElementById('goal-chart'),
      config
    );
  </script>