{% extends 'FinalWhistle/base.html' %}



{%load static%}
{% block content %}

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
        <div class="container"><img class="img-fluid" data-bss-hover-animate="bounce" src="{% static 'FinalWhistle/assets/img/logocolours.png'%}" width="146" height="77" style="margin-bottom: 14px;width: 150px;"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item" style="margin-left: 100px"><a class="nav-link active" href="{% url 'FinalWhistle:index' %}">Tournoi</a></li>
                </ul>

                <!--Displays a deconnection button if user is authenticated and a connection button if not-->
                {% if user.is_authenticated %}
                    <p class="navbar-text" style="margin-right: 17px;margin-top: 19px;">Bonjour, {{ user.username }}</p>
                    <a class="btn btn-outline-primary shadow" role="button" href="{% url 'logout' %}?next={% url 'FinalWhistle:index' %}">Déconnexion</a>
                {% else %}
                    <a class="btn btn-primary shadow" role="button" href="{% url 'login' %}?next={% url 'FinalWhistle:index' %}">Connexion</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <header class="pt-5">
        <div class="container pt-4 pt-xl-5">
            <div class="row flex-grow-1 pt-5">
                <div class="col-md-8 text-center text-md-start mx-auto" style="margin-top: 25px;">
                    <div class="text-center" style="margin-bottom: -23px;height: 175.9px;">
                        <h1 class="display-4 fw-bold pulse animated mb-5"><span style="text-decoration: underline;">Le site</span> pour suivre les tournois de foot</h1>
                        <p class="fs-5 text-muted mb-5" style="margin-top: -34px;">Francais et Internationaux</p>
                        <form class="d-flex justify-content-center flex-wrap" method="post">
                            <div class="shadow-lg mb-3"></div>
                            <div class="shadow-lg mb-3"></div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-lg-10 mx-auto">
                    <div class="text-center position-relative" style="padding-top: 13px;margin-top: 8px;"><img class="img-fluid" src="{% static 'FinalWhistle/assets/img/illustrations/landingpage.png'%}" style="width: 800px;margin-top: 0px;padding-top: 0px;"></div>
                </div>
            </div>
        </div>
    </header>
    
     <!--Search dock-->
     <hr>
        <!--show search coin in input-->
        <style type="text/css">
            .searchBox{
            background-image:url({% static 'FinalWhistle/assets/img/search.png'%});
            background-size:20px;
            background-repeat:no-repeat;
            padding-left:25px;
            background-position:1% 50%;
            appearance:none;
            }
            form{
            display:inline;
            }
        </style>
        <!--show select coin in select-->
        <style type="text/css">
			select{
				width:100px;
				height:30px;
				appearance:none;
			    -moz-appearance:none;
			    -webkit-appearance:none;
				background: url({% static 'FinalWhistle/assets/img/select.png'%}) no-repeat 90% 50%;
                background-size:14px;
				font-size:16px;
                padding-left:3px;
				color:black;
			}
		</style>

     <div class="float-right pb-3" style="text-align: center;margin-top: 0px; margin-left:30px; margin-right:30px; background: linear-gradient(-25deg, #fffbe7 0%, var(--ref-gray-100));">
         <form action="{% url 'FinalWhistle:search' %}" method="get">
             <p  style="text-align: center;margin-top:0px;">
                 <div style ="padding-top:30px;padding-bottom:-10px;">
                     <input type="text" style="width:410px" name="q" class="searchBox" placeholder="Search tournament name, location or team name...">
                     Target:
                     <select name="search_mode">
                         <option value="Tournament">Tournoi</option>
                         <option value="Team">Equipe</option>
                     </select>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                     <!--Show the filter and search button-->
                     <a class="btn btn-black" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-filter" href="#collapse-filter" role="button" >Filter for matches</a>
                     <button type="submit" class="btn btn-gray">Search</button>
                 </div>
             </p>
              <!--Hides the information on each poule in a collapse for better ergonomics-->
             <div class="row collapse" id="collapse-filter" style="text-align: center;margin-top: 0px;margin-left:30px; margin-right:30px; background: linear-gradient(-25deg, #fffbe7 0%, var(--ref-gray-100));">
                 <p style="margin: 10px">
                     Match date: <input type="date" name="date" id="date"> &nbsp &nbsp
                     Location: <input type="text" style="width:200px" name="location" placeholder="Location...">
                     Stadium: <input type="text" style="width:200px" name="stadium" placeholder="stadium...">
                 </p>
                 <p style="margin: 10px">
                     Les équipes: <input type="text" name="home_team" placeholder="Home team"> vs <input type="text" name="away_team" placeholder="Away team"> &nbsp &nbsp
                     Les scores: <input type="number" name="home_score" placeholder="Home score"> vs <input type="number" name="away_score" placeholder="Away score">
                 </p>
             </div>
         </form>
     </div>

    

    <!--Loops through all tournaments and displays the first 3, the rest is displayed in a collapse which can be activated by pressing a view more button-->
    {% if tournament_list %}
        <section>
            <div class="container text-center py-4 py-xl-5">
                <!--show the number of results-->
                <div>
                    <p>{{tournament_list.count}} tournoi{{ tournament_list.count|pluralize:"s" }} {{ tournament_list.count|pluralize:"est,sont" }} trouvé{{ tournament_list.count|pluralize:"s" }}</p>
                </div>
                {% for tournament in tournament_list|slice:":3" %}
                    <div class="col-md-12 col-lg-12 offset-lg-0" style="border-radius: 20px;padding: 0;margin-bottom: 3px;border: 2px solid var(--bs-yellow);background: linear-gradient(-25deg, #fffbe7 0%, var(--ref-gray-100));">
                        <h1 class="text-center" style="font-family: Raleway, sans-serif;color: var(--bs-indigo);"><a href="{% url 'FinalWhistle:poule' tournament.id %}">{{ tournament.name }}</a></h1>


                        <p class="text-center">Lieu : {{tournament.location}}</p>
                        <p class="text-center" style="margin-top: -21px;">Date : {{tournament.date_start}} au {{tournament.date_end}}</p>
                    </div>
                {% endfor %}

                
                <div><a class="btn btn-outline-primary" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button" style="margin-top: 37px;margin-bottom: 17px;">Voir plus</a>
                    <div class="collapse" id="collapse-1">
                        {% for tournament in tournament_list|slice:"3:" %}
                            <div class="col-md-12 col-lg-12 offset-lg-0" style="border-radius: 20px;padding: 0;margin-bottom: 3px;border: 2px solid var(--bs-yellow);background: linear-gradient(-25deg, #fffbe7 0%, var(--ref-gray-100));">
                                <h1 class="text-center" style="font-family: Raleway, sans-serif;color: var(--bs-indigo);margin-bottom: -2px;margin-top: 10px;"><a href="{% url 'FinalWhistle:poule' tournament.id %}">{{ tournament.name }}</a></h1>
                                <p class="text-center">Lieu : {{tournament.location}}</p>
                                <p class="text-center" style="margin-top: -21px;">Date : {{tournament.date_start}} au {{tournament.date_end}}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                

            </div>
        </section>

    <!--search mode for teams-->
    {% elif team_list%}
    <section>
        <div class="container text-center py-4 py-xl-5">
            <!--show the number of results-->
            <div>
                <p>{{team_list.count}} équipe{{ team_list.count|pluralize:"s" }} {{ team_list.count|pluralize:"est,sont" }} trouvé{{ team_list.count|pluralize:"es" }}</p>
            </div>
            {% for team in team_list|slice:":3" %}
                <div class="col-md-12 col-lg-12 offset-lg-0" style="border-radius: 20px;padding: 0;margin-bottom: 3px;border: 2px solid var(--bs-yellow);background: linear-gradient(-25deg, #fffbe7 0%, var(--ref-gray-100));">
                    <h1 class="text-center" style="font-family: Raleway, sans-serif;color: var(--bs-indigo);">{{ team.name }}</h1>

                    <p class="text-center">Tournoi : {{team.tournament}}</p>
                    <p class="text-center" style="margin-top: -21px;">Poule : {{team.poule}} </p>
                    <p class="text-center" style="margin-top: -21px;">Manager : {{team.manager}} </p>
                    <p class="text-center" style="margin-top: -21px;"> Scored: {{team.goals_scored}} &nbsp &nbsp conceded: {{team.goals_conceded}} &nbsp &nbsp points: {{team.points}} </p>
                </div>
            {% endfor %}

            
            <div><a class="btn btn-outline-primary" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button" style="margin-top: 37px;margin-bottom: 17px;">Voir plus</a>
                <div class="collapse" id="collapse-1">
                    {% for team in team_list|slice:"3:" %}
                        <div class="col-md-12 col-lg-12 offset-lg-0" style="border-radius: 20px;padding: 0;margin-bottom: 3px;border: 2px solid var(--bs-yellow);background: linear-gradient(-25deg, #fffbe7 0%, var(--ref-gray-100));">
                            <h1 class="text-center" style="font-family: Raleway, sans-serif;color: var(--bs-indigo);">{{ team.name }}</h1>
        
                            <p class="text-center">Tournoi : {{team.tournament}}</p>
                            <p class="text-center" style="margin-top: -21px;">Poule : {{team.poule}} </p>
                            <p class="text-center" style="margin-top: -21px;">Manager : {{team.manager}} </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            

        </div>
    </section>
    <!--search mode for matches-->
    {% elif game_list%}
    <section>
        <div class="container text-center py-4 py-xl-5">
            <!--show the number of results-->
            <div>
                <p>{{game_list.count}} match{{ game_list.count|pluralize:"es" }} {{ game_list.count|pluralize:"est,sont" }} trouvé{{ game_list.count|pluralize:"s" }}</p>
            </div>
            {% for game in game_list|slice:":3"%}
                <div class="col-md-12 col-lg-12 offset-lg-0" style="border-radius: 20px;padding: 0;margin-bottom: 3px;border: 2px solid var(--bs-yellow);background: linear-gradient(-25deg, #fffbe7 0%, var(--ref-gray-100));">
                    <h1 class="text-center" style="font-family: Raleway, sans-serif;color: var(--bs-indigo);"><a class="link-primary" href="{% url 'FinalWhistle:match' game.id %}" >{{game.home_score}} {{ game.home_team }} vs {{ game.away_team }} {{game.away_score}} </a></h1>
                   
                    <p class="text-center">Tournoi : {{game.date}}</p>
                    <p class="text-center" style="margin-top: -21px;">Location : {{game.poule.tournament.location}} </p>
                    <p class="text-center" style="margin-top: -21px;">Stadium : {{game.stadium.name}} </p>
                    <p class="text-center" style="margin-top: -21px;">Poule : {{game.poule.tournament}} </p>
                   
                </div>
            {% endfor %}
        
            <!--hide the other information-->
            <div><a class="btn btn-outline-primary" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button" style="margin-top: 37px;margin-bottom: 17px;">Voir plus</a>
                <div class="collapse" id="collapse-1">
                    {% for game in game_list|slice:"3:"%}
                    <div class="col-md-12 col-lg-12 offset-lg-0" style="border-radius: 20px;padding: 0;margin-bottom: 3px;border: 2px solid var(--bs-yellow);background: linear-gradient(-25deg, #fffbe7 0%, var(--ref-gray-100));">
                        <h1 class="text-center" style="font-family: Raleway, sans-serif;color: var(--bs-indigo);"><a class="link-primary" href="{% url 'FinalWhistle:match' game.id %}" >{{game.home_score}} {{ game.home_team }} vs {{ game.away_team }} {{game.away_score}} </a></h1>
                       
                        <p class="text-center">Tournoi : {{game.date}}</p>
                        <p class="text-center" style="margin-top: -21px;">Location : {{game.poule.tournament.location}} </p>
                        <p class="text-center" style="margin-top: -21px;">Stadium : {{game.stadium.name}} </p>
                        <p class="text-center" style="margin-top: -21px;">Poule : {{game.poule.tournament}} </p>
                    </div>
                    {% endfor %}
                </div>
            </div> 
        </div>   
    </section>


    {% else %}
            <p style="text-align:center">There is no result</p>
    {% endif %}

    <!--Prompts the user to login if he is not authenticated-->
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="text-white bg-primary border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5" style="margin-bottom: 47px;">
                <div class="pb-2 pb-lg-1">
                    <h2 class="fw-bold text-warning mb-2">Envie de donner votre avis sur un match ?</h2>
                    <p class="mb-0">Connectez-vous et accedez a la page de votre match favori !</p>
                </div>
                {% if user.is_authenticated %}
                    <p class="navbar-text" style="margin-right: 17px;margin-top: 19px;">Connecté : {{ user.username }}</p>
                {% else %}
                    <div class="my-2"><a class="btn btn-light fs-5 py-2 px-4" role="button" href="{% url 'login' %}?next={% url 'FinalWhistle:index' %}">Connexion</a></div>
                {% endif %}
            </div>
            <hr>
        </div>
    </section>
{% endblock %}