<!DOCTYPE html>
<html lang="en" style="--bs-primary: #24285b;--bs-primary-rgb: 36,40,91;">
{%load static%}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Final Whistle</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>
</head>

<body>
<h1 id="title"> Page de test de la map </h1>

<div id="map" style="height:400px;"></div>

{{stadiums|json_script:"stadiums"}}
    
<script src="{% static 'FinalWhistle/assets/js/map.js'%}">
    
</script>


</body>